@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.navbar {
  position: fixed;
  inset: 0 0 auto 0;
  width: 100%;
  z-index: 1000;
  transition: .35s;
  padding: 18px 0;
}

.navbar.scrolled {
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,.7);
  box-shadow: $shadow-sm;
}

.container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-image {
  width: 64px;
  height: 64px;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
  transition: transform .3s ease;
  filter: drop-shadow(0 6px 14px rgba(201,162,39,.18));
}

.logo-image:hover {
  transform: scale(1.05);
}

.logo-mark {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  color: #ff0000;
  font-family: "Cormorant Garamond", serif;
  margin-right: 1rem;
}

.initial {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: $font-heading;
}

.divider {
  color: #C89B2C;
  font-size: 1.8rem;
}

.logo-text {
  font-family: $font-heading;
  font-size: 2.2rem;
  font-weight: 600;
  color: $color-text;
  transition: color .3s;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: $color-text;
  transition: .3s;
}

.nav-links a:hover {
  color: $color-primary;
}

.menu-btn {
  display: none;
  color: $color-text;
}

/* -------------------- Mobile -------------------- */

@media (max-width:768px) {

  .logo-image {
    width: 48px;
    height: 48px;
  }

  .logo-text {
    font-size: 1.15rem;
  }

  .menu-btn {
    display: block;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: $color-text;
    cursor: pointer;
    z-index: 1001;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    padding: 2rem;

    background: rgba(255,255,255,.98);
    backdrop-filter: blur(12px);

    box-shadow: $shadow-sm;
  }

  .nav-links.open {
    display: flex;
  }

}
