.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff8f5;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

h2 {
  font-weight: 300;
}

button {
  margin-top: 30px;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
}
