<section id="hero" class="hero">

    <div class="hero-content">

        <span class="tagline">
            {{ hero.familyMessage }}
        </span>

        <h1>

            {{ hero.brideName }}

            <span class="ampersand">
                &
            </span>

            {{ hero.groomName }}

        </h1>

        <p class="description">

            {{ hero.invitationText }}

        </p>

        <div class="date">

            {{ hero.weddingDate }}

        </div>

        <button>

            {{ hero.buttonText }}

        </button>

        <div class="scroll">

            Scroll

            <span>

                ↓

            </span>

        </div>

    </div>

</section>
