<section class="hero">

  <div class="overlay">

    <p class="subtitle">
      Together with their families
    </p>

    <h1>
      Emma
      <span>&</span>
      Daniel
    </h1>

    <p class="invite">
      Request the pleasure of your company
      <br>
      at the celebration of their wedding
    </p>

    <div class="date">
      Saturday • 18 December 2027
    </div>

    <button>
      Open Invitation
    </button>

    <div class="scroll">
      ↓ Scroll
    </div>

  </div>

</section>
