@use "../../../../../styles/variables" as *;

.hero {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 20px;

  background:
    linear-gradient(
      rgba(250,247,242,.85),
      rgba(250,247,242,.85)
    ),
    url("https://images.unsplash.com/photo-1519741497674-611481863552")
      center center/cover no-repeat;
}

.hero-content {

  max-width: 700px;

}

.tagline {

  text-transform: uppercase;

  letter-spacing: 4px;

  font-size: .9rem;

  color: $color-primary;

}

h1 {

  margin: 25px 0;

  font-size: 5rem;

  line-height: 1.1;

}

.ampersand {

  display:block;

  color:$color-secondary;

}

.description{

  margin-top:20px;

  font-size:1.2rem;

  line-height:2rem;

}

.date{

  margin:35px 0;

  font-size:1.1rem;

}

button{

  padding:15px 40px;

  border:none;

  border-radius:50px;

  background:$color-primary;

  color:white;

  cursor:pointer;

  transition:$transition;

}

button:hover{

  transform:translateY(-4px);

}

.scroll{

  margin-top:70px;

  display:flex;

  flex-direction:column;

  gap:10px;

  font-size:.9rem;

}
