@use "../abstracts/variables" as *;

html{

  scroll-behavior:smooth;

}

body{

  background:$color-background;
  overflow-x:hidden;

}

img{

  max-width:100%;
  display:block;

}

button{

  font-family:inherit;

}
