@use "../abstracts/variables" as *;

html{

  scroll-behavior:smooth;
  scroll-padding-top: clamp(150px, 16vw, 200px);

}

body{

  background:$color-background;
  overflow-x:hidden;

}

img{

  max-width:100%;
  display:block;

}

button{

  font-family:inherit;

}

section[id] {
  scroll-margin-top: clamp(150px, 16vw, 200px);
}
